#!/usr/bin/make -f

%:
	dh $@ --with=autoreconf,python2 --parallel

override_dh_auto_configure:
	dh_auto_configure -- --with-liblua --with-liblinear --with-libpcap=included --enable-ipv6

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/share/man/pt_PT debian/tmp/usr/share/man/pt

override_dh_autoreconf:
	dh_autoreconf autoconf

override_dh_install:
	dh_install --fail-missing -X/usr/bin/uninstall_ -Xca-bundle.crt -X.pyc

